.Person{
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 60%;
    margin:auto;
    padding:10px;
    text-align: center;
}
.deleteButton{
  background: 'white';
  font:inherit;
  border: '1px solid blue';
  padding: '8px';
  margin: '10px';
  cursor: 'pointer'
}

@media (min-width:500px){
  .Person{
    width: 450px;
  }
}